$font-main: MonaspiceKr Nerd Font, JetBrainsMono Nerd Font;
$font-alt: MonaspiceRn Nerd Font;

$col-bg: #0f0f17;
$col-bg-alt: #171923;
$col-border: #2e2e5c;
$col-fg: #ffffff;
$col-fg-dim: #b1b1ba;
$col-accent: #e486af;
$col-accent-alt: #6978e1;

$col-heat-0: #47b6ff;
$col-heat-1: #96d9fd;
$col-heat-2: #e9f9cc;
$col-heat-3: #f9b848;
$col-heat-4: #f7743a;
$col-heat-5: #f42a2a;

$col-battery-1: #ef6161;
$col-battery-2: #efbc5d;
$col-battery-3: #efe95d;
$col-battery-4: #baef5d;
$col-battery-5: #81ef5f;
$col-battery-6: #30de6a;

$col-performance: #d95d5d;
$col-balanced: #5d9fd9;
$col-power-saver: #5dda5f;

$col-device-disconnected: #a1a1a1;
$col-device-off: #606aa1;

$col-humidity-1: #f79e53;
$col-humidity-2: #edb383;
$col-humidity-3: #e1cbbb;
$col-humidity-4: #d7dee8;
$col-humidity-5: #a3a8f0;
$col-humidity-6: #6f73f8;
$col-humidity-7: #4345ff;

$col-pressure-1: #43b1ff;
$col-pressure-2: #68b8f5;
$col-pressure-3: #cfdbeb;
$col-pressure-4: #e76e76;
$col-pressure-5: #f75353;

$col-uvindex-1: #47b6ff;
$col-uvindex-2: #96d9fd;
$col-uvindex-3: #e9f9cc;
$col-uvindex-4: #f9b848;
$col-uvindex-5: #f7743a;
$col-uvindex-6: #f42a2a;

$col-category-1: #d95d5d;
$col-category-2: #5d9fd9;
$col-category-3: #5dda5f;

$col-applauncher: #1793D1;

