# navigation
next_page <C-f>
previous_page <C-b>
screen_down <C-d>
screen_up <C-u>
move_left l
move_right h

# zooming
zoom_in  <C-=>
fit_to_page_width =
fit_to_page_width_ratio <A-=>
fit_to_page_height -
zoom_out <C-->

# style
toggle_dark_mode <C-2>
# toggle_custom_color <C-2>
setconfig_preserve_image_colors_in_dark_mode <C-1>

# portals
toggle_window_configuration <C-P>
toggle_one_window <C-p>