window {
  width: 40%;
}

textbox-prompt {
  str: @symbol-calc;
  color: @col-calc;
}

listview {
  margin: 0.5em 0 0 0;
  columns: 1;
  lines: 4;
  cycle: false;
  scrollbar: false;
  dynamic: false;
}

element {
  children: [ element-text ];
  padding: 0;
}

element-text {
  font: "MonaspiceKr Nerd Font 12";
  horizontal-align: 0;
}

element selected {
  background-color: transparent;
  border: none;
}

element-text selected {
  text-transform: underline white;
}
