[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Exec=~/.local/kitty.app/bin/kitty
Name=kitty
Icon=~/.local/share/icons/candy-icons/apps/scalable/kitty.svg
