.battery {
  * {
    transition: 0;
  }
  
  .icon {
    .statusicon {
      font-size: $fs-sm;
      font-family: $font-mono;
    }

    &.Full {
      .statusicon {
        font-size: $fs-md;
      }
    }

    &.charge-lt10 {
      color: $col-battery-1;
    }

    &.charge-lt25 {
      color: $col-battery-2;
    }

    &.charge-lt50 {
      color: $col-battery-3;
    }

    &.charge-lt70 {
      color: $col-battery-4;
    }

    &.charge-lt90 {
      color: $col-battery-5;
    }

    &.charge-full {
      color: $col-battery-6;
    }
  }

  .mode {
    margin: $pady 0;
    border-radius: calc(0.5 * $border-r);

    * {
      font-size: $fs-lg;
      font-family: $font-mono;
    }

    &.performance {
      color: $col-performance;

      &.hover {
        background-color: $col-performance;
        box-shadow: inset 0 0 4px darken($col-performance, 20%), 0 0 1px $col-bg-dark4;
      }
    }

    &.balanced {
      color: $col-balanced;

      &.hover {
        background-color: $col-balanced;
        box-shadow: inset 0 0 4px darken($col-balanced, 20%), 0 0 1px $col-bg-dark4;
      }
    }

    &.power-saver {
      color: $col-power-saver;

      &.hover {
        background-color: $col-power-saver;
        box-shadow: inset 0 0 4px darken($col-power-saver, 20%), 0 0 1px $col-bg-dark4;
      }
    }

    &.hover {
      color: $col-bg-alt;
    }
  }
}