.shade-0 {
  background-color: $col-accent2;
}
.shade-light-1 {
  background-color: $col-accent2-light1;
  color: $col-bg;
}
.shade-light-2 {
  background-color: $col-accent2-light2;
  color: $col-bg;
}
.shade-light-3 {
  background-color: $col-accent2-light3;
  color: $col-bg;
}
.shade-light-4 {
  background-color: $col-accent2-light4;
  color: $col-bg;
}
.shade-light-5 {
  background-color: $col-accent2-light5;
  color: $col-bg;
}
.shade-dark-1 {
  background-color: $col-accent2-dark1;
}
.shade-dark-2 {
  background-color: $col-accent2-dark2;
}
.shade-dark-3 {
  background-color: $col-accent2-dark3;
}
.shade-dark-4 {
  background-color: $col-accent2-dark4;
}
.shade-dark-5 {
  background-color: $col-accent2-dark5;
}

// .sidepanel {
//   border: 1px solid red;
// }

// .hardware {
//   border: 1px solid red;
// }

// .battery {
//   border: 1px solid red;
// }