#side_bar,
#page_header_cont,
ul.ConvoRecommendList,
.im-send-btn_saudio {
  display: none !important;
}
.scroll_fix {
  top: -50px;
}
#page_layout,
#page_body {
  width: 95% !important;
}
.im-chat-input--textarea {
  width: calc(100% - 56px) !important;
}

body {
  overflow: hidden;
}
.im-page--chat-body-abs {
  width: 100%!important;
}
#page_body {
  float: left;
}